@import "@new-ui/foundations";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

:root {
  --accent: hsl(35, 87%, 57%);
}

body {
 background: var(--background);    
 color: var(--text-primary);
 font-size: 17px;
 line-height: 28px;
 font-family: 'Libre Baskerville', serif;
 font-weight: 400;
 font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 104px 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 100%;
  padding: 0 20px 0 0;
}

ul.links {
  list-style: none;
  margin-bottom: 40px;
}

header {
  padding-bottom: 104px;
}

.title {
  font-weight: 400;
  color: var(--text-primary);
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

.section-title {
  color: var(--text-secondary-alt);;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}    

p.label {
  margin-bottom: 9px;
  font-weight: 400;
  font-style: italic;
}

@media (min-width: 600px) {
  .col-3 {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .col-3 {
    width: 25%;
  }
}


#particles, #particles:after{
  width:1px;
  height:1px;
  box-shadow:326px 639px var(--accent),305px 1860px var(--accent),653px 1797px var(--accent),1190px 1004px var(--accent),94px 334px var(--accent),1417px 1421px var(--accent),1413px 328px var(--accent),1166px 166px var(--accent),1576px 957px var(--accent),1250px 1642px var(--accent),1191px 832px var(--accent),479px 327px var(--accent),1284px 1726px var(--accent),82px 478px var(--accent),1731px 400px var(--accent),1914px 1842px var(--accent),1326px 1738px var(--accent),76px 884px var(--accent),1496px 163px var(--accent),1378px 1244px var(--accent),1097px 1374px var(--accent),113px 1921px var(--accent),1792px 914px var(--accent),1768px 1165px var(--accent),1169px 1921px var(--accent),243px 1633px var(--accent),98px 1026px var(--accent),807px 1575px var(--accent),360px 1299px var(--accent),855px 1742px var(--accent),731px 398px var(--accent),391px 1780px var(--accent),214px 192px var(--accent),1080px 746px var(--accent),720px 1447px var(--accent),699px 451px var(--accent),32px 1451px var(--accent),1679px 1199px var(--accent),1254px 1669px var(--accent),1566px 14px var(--accent),1648px 798px var(--accent),999px 102px var(--accent),1599px 1604px var(--accent),764px 1296px var(--accent),1537px 1264px var(--accent),390px 1640px var(--accent),388px 1784px var(--accent),44px 279px var(--accent),1871px 788px var(--accent),1398px 489px var(--accent),272px 1347px var(--accent),181px 1236px var(--accent),365px 1530px var(--accent),275px 1131px var(--accent),700px 1459px var(--accent),1815px 434px var(--accent),291px 1142px var(--accent),1376px 600px var(--accent),261px 52px var(--accent),925px 639px var(--accent),1755px 368px var(--accent),68px 801px var(--accent),926px 1551px var(--accent),1261px 269px var(--accent),140px 1838px var(--accent),665px 543px var(--accent),228px 1495px var(--accent),1392px 198px var(--accent),1386px 1379px var(--accent),1134px 977px var(--accent),1771px 985px var(--accent),49px 1808px var(--accent),1832px 854px var(--accent),1006px 696px var(--accent),599px 1513px var(--accent),1117px 1405px var(--accent),320px 1611px var(--accent),1204px 943px var(--accent),411px 1205px var(--accent),1197px 365px var(--accent),724px 45px var(--accent),965px 1299px var(--accent),1900px 934px var(--accent),234px 1440px var(--accent),553px 310px var(--accent),1218px 1288px var(--accent),1493px 561px var(--accent),68px 1353px var(--accent),847px 1621px var(--accent),640px 322px var(--accent),770px 592px var(--accent),1767px 1371px var(--accent),443px 1850px var(--accent),146px 894px var(--accent),923px 496px var(--accent),1265px 667px var(--accent),1770px 1806px var(--accent),439px 1013px var(--accent),68px 990px var(--accent),1757px 193px var(--accent),512px 1687px var(--accent),1084px 484px var(--accent),361px 1386px var(--accent),1561px 157px var(--accent),1655px 284px var(--accent),933px 1531px var(--accent),38px 432px var(--accent),1395px 1461px var(--accent),1294px 2000px var(--accent),852px 1271px var(--accent),334px 547px var(--accent),249px 703px var(--accent),980px 230px var(--accent),1001px 480px var(--accent),1601px 1362px var(--accent),1156px 776px var(--accent),697px 1666px var(--accent),184px 855px var(--accent),966px 119px var(--accent),1849px 1455px var(--accent),993px 1775px var(--accent),54px 1807px var(--accent),1182px 1547px var(--accent),646px 734px var(--accent),1667px 1394px var(--accent),394px 613px var(--accent),1550px 1785px var(--accent),33px 1490px var(--accent),169px 286px var(--accent),779px 140px var(--accent),493px 579px var(--accent),1503px 1608px var(--accent),371px 403px var(--accent),666px 1302px var(--accent),24px 1303px var(--accent),1630px 830px var(--accent),197px 1105px var(--accent),241px 1067px var(--accent),579px 1404px var(--accent),1957px 1965px var(--accent),508px 228px var(--accent),1224px 1736px var(--accent),1625px 392px var(--accent),614px 1869px var(--accent),1244px 101px var(--accent),299px 625px var(--accent),1062px 1821px var(--accent),999px 1169px var(--accent),1167px 854px var(--accent),1866px 15px var(--accent),939px 1804px var(--accent),1358px 1580px var(--accent),669px 1896px var(--accent),695px 516px var(--accent),1812px 1494px var(--accent),1276px 1393px var(--accent),745px 970px var(--accent),1196px 1980px var(--accent),23px 1105px var(--accent),854px 184px var(--accent),1666px 1416px var(--accent),319px 1221px var(--accent),891px 1424px var(--accent),516px 1066px var(--accent),947px 246px var(--accent),1141px 57px var(--accent),804px 1146px var(--accent),1856px 82px var(--accent),615px 782px var(--accent),118px 1456px var(--accent),1151px 654px var(--accent),1030px 19px var(--accent),1841px 787px var(--accent),1495px 1869px var(--accent),821px 1207px var(--accent),1631px 1180px var(--accent),1079px 1933px var(--accent),1531px 1876px var(--accent),83px 1265px var(--accent),527px 1772px var(--accent),925px 801px var(--accent),1103px 46px var(--accent),1561px 1386px var(--accent),1170px 415px var(--accent);
}

#particles2, #particles2:after {
  width:2px;
  height:2px;
  box-shadow:1424px 1464px var(--accent),204px 1477px var(--accent),1079px 1242px var(--accent),1623px 1568px var(--accent),1084px 1713px var(--accent),255px 1697px var(--accent),328px 1090px var(--accent),1867px 803px var(--accent),438px 672px var(--accent),804px 82px var(--accent),1886px 1631px var(--accent),170px 706px var(--accent),1371px 686px var(--accent),1281px 843px var(--accent),1801px 1737px var(--accent),1169px 554px var(--accent),1680px 637px var(--accent),156px 710px var(--accent),1043px 1645px var(--accent),1428px 1497px var(--accent),519px 851px var(--accent),1423px 919px var(--accent),1829px 1719px var(--accent),1855px 1901px var(--accent),109px 1448px var(--accent),1782px 1330px var(--accent),156px 574px var(--accent),1501px 1278px var(--accent),1658px 936px var(--accent),703px 1073px var(--accent),962px 1911px var(--accent),717px 1002px var(--accent),461px 782px var(--accent),288px 402px var(--accent),463px 690px var(--accent),981px 59px var(--accent),1033px 598px var(--accent),738px 1573px var(--accent),174px 573px var(--accent),323px 17px var(--accent),49px 1222px var(--accent),848px 253px var(--accent),6px 1298px var(--accent),1924px 393px var(--accent),235px 456px var(--accent),1395px 1527px var(--accent),1323px 588px var(--accent),651px 693px var(--accent),618px 1794px var(--accent),1766px 59px var(--accent),507px 846px var(--accent),332px 520px var(--accent),342px 815px var(--accent),733px 773px var(--accent),428px 1684px var(--accent),396px 1119px var(--accent),1327px 1792px var(--accent),1770px 1656px var(--accent),455px 692px var(--accent),1901px 1577px var(--accent),45px 565px var(--accent),137px 1663px var(--accent),356px 112px var(--accent),370px 1702px var(--accent),1110px 506px var(--accent),440px 1976px var(--accent),1488px 1373px var(--accent),860px 242px var(--accent),1651px 533px var(--accent),473px 726px var(--accent),1397px 198px var(--accent),1507px 1939px var(--accent),1596px 1893px var(--accent),1246px 638px var(--accent),1997px 830px var(--accent),443px 1369px var(--accent),749px 45px var(--accent),1746px 306px var(--accent),714px 236px var(--accent),1193px 707px var(--accent),1100px 25px var(--accent),1204px 1311px var(--accent),490px 1638px var(--accent),705px 1970px var(--accent),459px 1042px var(--accent),823px 205px var(--accent),1927px 1225px var(--accent),1685px 57px var(--accent),297px 774px var(--accent),280px 1231px var(--accent),348px 1405px var(--accent),1802px 1799px var(--accent),1585px 1734px var(--accent),1487px 20px var(--accent),61px 1446px var(--accent),248px 1394px var(--accent),247px 1280px var(--accent),1762px 1205px var(--accent),1863px 1124px var(--accent),1339px 872px var(--accent),740px 66px var(--accent),1394px 1732px var(--accent),308px 1673px var(--accent),1360px 1961px var(--accent),885px 1779px var(--accent),1879px 229px var(--accent),930px 677px var(--accent),1119px 546px var(--accent),144px 1237px var(--accent),1363px 1077px var(--accent),1656px 1207px var(--accent),968px 660px var(--accent),205px 1214px var(--accent),764px 1341px var(--accent),1575px 1016px var(--accent),1503px 1917px var(--accent),1154px 1766px var(--accent),1102px 1023px var(--accent),675px 1293px var(--accent),1069px 227px var(--accent),1982px 960px var(--accent),1826px 463px var(--accent),133px 160px var(--accent),1938px 1088px var(--accent),1671px 285px var(--accent),819px 892px var(--accent),1095px 1927px var(--accent),828px 1562px var(--accent),1847px 1100px var(--accent),1613px 1724px var(--accent),492px 1688px var(--accent),1978px 1058px var(--accent),52px 1517px var(--accent),1420px 1837px var(--accent),1109px 398px var(--accent),1833px 1740px var(--accent),14px 9px var(--accent),1095px 700px var(--accent),158px 1969px var(--accent),225px 778px var(--accent),487px 1080px var(--accent),1782px 502px var(--accent),726px 1999px var(--accent),1857px 1367px var(--accent),1774px 1479px var(--accent);
}

#particles:after, #particles2:after { 
  content:" ";
  position:absolute;
  top:0px;
  background:0 0;
  z-index:-8
}

#particles {
  background:0 0;
  -webkit-animation:i 70s linear infinite;
  animation:i 70s linear infinite;
  z-index: -100;
}
#particles2 {
  background:0 0;
  -webkit-animation:i 120s linear infinite;
  animation:i 120s linear infinite;
  z-index: -100;
}

@-webkit-keyframes i{
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0)
  } to {
    -webkit-transform:translateY(-2000px);
    transform:translateY(-2000px)
  }
}
@keyframes i {
  0% { 
    -webkit-transform:translateY(0);
    transform:translateY(0)
  } to {
    -webkit-transform:translateY(-2000px);
    transform:translateY(-2000px)
  }
}